/* Add these styles to your SCSS file */

.city-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha (last value) for transparency */
}

.get-weather-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(3, 104, 236, 0.8); /* Adjust the alpha (last value) for transparency */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.get-weather-button:hover {
  background-color: rgba(34, 66, 194, 0.8); /* Adjust the alpha (last value) for transparency */
}
